{% extends "base.html" %}
{% block title %}blog titles{% endblock %}
{% block content %}
{% load staticfiles %}

<!--文章搜索表单-->
    <div class="page-header" style="padding-top: 60px;">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form" method="get" action="/search_name/">
                <div class="form-group">
                    <input name="name" type="text" placeholder="搜索文章" class="form-control">
                </div>
                    <button type="submit" class="btn btn-success">搜索</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
<!--文章列表-->
<div class="row" style="padding-top: 40px;">
	<div class="col-xs-12 col-md-8">
		<ul>
			{% for blog in blogs %}
			<li><a href="{{ blog.id }}">{{ blog.title }}</a></li>
			{% endfor %}
		</ul>
	</div>
	<div class="col-xs-6 col-md-4">
		<h2>Author</h2>
		<p>LAKEFACEGANG：www.lakeface.xin</p>
		<img width="250px" src="{% static 'images/author.jpg' %}">
	</div>
</div>
{% endblock %}
